VITE_SUPABASE_URL=https://siaswbkrkybwuhaihtvo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpYXN3Ymtya3lid3VoYWlodHZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIzMTgwMjYsImV4cCI6MjA2Nzg5NDAyNn0.BOrGd9HsTIGT6Jd466antY9yTcPMTJ8S0frJHgWwrDY